
li {
    list-style: none;
}

.float-left strong {
    font-size: 50px;
}


#date {
    font-size: 15px;
}

body {
    background-color: antiquewhite;
}

.forecast {
    background-color: rgb(224, 154, 241);
 
}

.form-control {
    background-color: rgb(224, 154, 241);
   
}